* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.quiz-card {
    width: 200px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 20px 0 #aaa;

    margin: 50px auto;
}

.quiz-group {
    margin: 15px 0;
}

button {
    width: 200px;
    padding: 1.25em 1.5em;
    border: 0;
    border-radius: 0.5em;
    background: #43b4ff;

    font-weight: 600;
    color: white;
    font-size: 18px;

    display: block;
    margin: 25px auto;

    cursor: pointer;
    transition: 0.2s;
}